a:active, a:focus { 
	outline: none; 
	ie-dummy: expression(this.hideFocus=true);
}

#preloader {
	background-color: black;
	color: #aaa;
}

.center-text {
	text-align: center;
	display: block;
	height: 50px;
	line-height: 50px;
	width: auto;
	padding: 5px;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: absolute;
	font-size: 1.9em;
}

.navigation-header {
	background-color: black;
	opacity: 0.90;
	color: white;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-item {
	background-color: black;
	opacity: 0.75;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-item:hover {
	opacity: 0.90;
}

.nav-item a {
	margin-left: 20px;
}

.nav-item a:visited {
	text-decoration: none;
}

.page-navigation a {
	color: white;
	/*font-family: 'comic_runesregular' !important;*/
}

.page-navigation {
	background: transparent;
	/*
	width: 100%;
	position: fixed;
	*/
}

.navigation-header em {
	font-family: 'herculanum';
	text-align: right;
	font-size: 0.82em;
	padding-right: 20px;
}

/*.navigation-header em {
	font-family: 'comic_runesregular';
	text-align: right;
	font-size: 1.0em;
	padding-right: 20px;
	letter-spacing: 3px;
}*/

.slider-container {
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 0px;
	width: 92%;
	background-color: black;
	padding: 15px;
	border: 1px solid #181818;
}

.slider-container img {
	max-width: 100%;
	max-height: 100%;
}



